/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .logo {
      margin-top: 30px;
      margin-bottom: 0px;
      height: 230px;

      .exeter, .nasa {
        fill: $green;
      }
    }

    p {
      margin-top: 10px;
      font-size: 2rem;

      a {
        color: white;
        text-decoration: underline;
      }

      a:hover {
        text-decoration: none;
      }

    }

    p.date {
      font-size: 3rem;
    }

    p:first-of-type {
      margin-top: 50px;
    }

    p:last-of-type {
      margin-top: 50px;
    }

    .social {
      margin-top: 50px;
    }
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Past  */

.past-projects {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

.past-events {
    padding: 50px 0;
    background-color: $cream;
    color: $grey;
    h4 {
      small {
        color: inherit;
      }
    }
}

.sponsors {
  background-color: $cream;
  padding-top: 50px;
  padding-bottom: 50px;

  img {
    height: 100px;
    max-width: 100%;
    margin: 20px;
  }
}

/* Contact */

.contact {
  color: $grey;
    padding: 50px 0;
    padding-bottom: 80px;
    background-color: $cream;

    h3 {
      margin-bottom: 30px;
    }

    .btn {
      margin-left: 20px;
      margin-right: 20px;
    }
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Disable custom maps scrolling behaviour */
.scrolloff {
    pointer-events: none;
}

/* Social */

.social {
  margin-bottom: 30px;

  i {
    background-color: white;
    line-height: 1.5em;
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50% 50%;
  }

  a {
    color: #555;
  }

  a:hover {
    color: #999;
  }

  // .fa-twitter {
  //   color: lighten(#0084b4, 40%);
  // }
  //
  // .fa-twitter:hover {
  //   color: #0084b4;
  // }
  //
  // .fa-flickr {
  //   color: lighten(#ff0084, 40%);
  // }
  //
  // .fa-flickr:hover {
  //   color: #ff0084;
  // }
}

/* Footer */

footer {
    padding: 20px 0;
}
