/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header .social {
  margin-top: 100px;
}

.header {
  p {
    margin-top: 10px;
    font-size: 2.4rem;

    a {
      color: white;
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }

  }

  p.date {
    font-size: 3rem;
  }

  p:first-of-type {
    margin-top: 50px;
  }

  p:last-of-type {
    margin-top: 50px;
  }
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
    background-color: #333;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Disable custom maps scrolling behaviour */
.scrolloff {
    pointer-events: none;
}

/* Social */

.social {

  .fa-twitter {
    color: #0084b4;
  }

  .fa-flickr {
    color: #ff0084;
  }
}

/* Footer */

footer {
    padding: 20px 0;
}
