---
layout: front
---

<header id="top" class="header">
  <div class="text-vertical-center">
    <p>
      <a href="https://www.periscope.tv/spaceappsexeter"><img id="periscope" src="img/logos/periscope.png" alt="Periscope" /></a>
    </p>
    <p>
      <script>window.twttr=function(t,e,r){var n,i=t.getElementsByTagName(e)[0],w=window.twttr||{};return t.getElementById(r)?w:(n=t.createElement(e),n.id=r,n.src="https://platform.twitter.com/widgets.js",i.parentNode.insertBefore(n,i),w._e=[],w.ready=function(t){w._e.push(t)},w)}(document,"script","twitter-wjs")</script>
      <a href="https://www.periscope.tv/spaceappsexeter" class="periscope-on-air" data-size="large">
        @spaceappsexeter
      </a>
    </p>
    <p>
      Space Apps Exeter will livestream via <a href="https://www.periscope.tv/">Periscope</a> from 10am on Saturday the 23rd of April.
    </p>
    <p>
      Check here for the feed status.
    </p>
    {% include social-links.html %}
  </div>
</header>


{% include footer.html %}
{% include scripts.html %}
