<header id="top" class="header">
  <div class="text-vertical-center">
    {% include img/logo_exeter.svg %}
    <p>
      <a href="https://techexeter.uk" target="_blank">TechExeter</a> and the <a href="http://www.metoffice.gov.uk/conference/hackathons" target="_blank">Met Office</a> are proud to be hosting the Exeter event for the 2018 <a href="https://spaceappschallenge.org">NASA's Space Apps Challenge</a>.
    </p>
    <p>
      Space Apps is an international hackathon that occurs globally over 48 hours.
    </p>
    <p>
      Work alone or with a team to solve challenges that could help change the world.
    </p>
    <p class="date">20th - 21st October, 2018, Met Office, Exeter, UK.</p>
    <br>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfEGa2pBd5bfvIMJY3JvJgl-ds37XxHK4So6PyYc0FV-jRaHg/viewform?usp=sf_link" class="btn btn-chunky btn-lg">Submit full registration now!</a>
    {% include social-links.html %}
  </div>
</header>
