<header id="top" class="header">
  <div class="text-vertical-center">
    {% include img/logo_exeter.svg %}
    <p>
      Once again the <a href="http://www.metoffice.gov.uk/conference/hackathons">Met Office</a> is proud to be hosting the Exeter event for <a href="https://spaceappschallenge.org">NASA's Space Apps Challenge</a>.
    </p>
    <p>
      Space Apps is an international hackathon that occurs globally over 48 hours.
    </p>
    <p>
      Work alone or with a team to solve challenges that could help change the world.
    </p>
    <p class="date">23rd - 24th April, 2016, Met Office, Exeter, UK.</p>
    <br>
    <a href="/live" class="btn btn-chunky btn-lg">View our livestream</a>
    {% include social-links.html %}
  </div>
</header>
