<header id="top" class="header">
  <div class="text-vertical-center">
    {% include img/logo_exeter.svg %}
    <p>
      <a href="https://techexeter.uk" target="_blank">TechExeter</a> and the <a href="http://www.metoffice.gov.uk/conference/hackathons" target="_blank">Met Office</a> are proud to be hosting the Exeter event for the 2018 <a href="https://spaceappschallenge.org">NASA's Space Apps Challenge</a>.
    </p>
    <p>
      Space Apps is an international hackathon that occurs globally over 48 hours.
    </p>
    <p>
      Work alone or with a team to solve challenges that could help change the world.
    </p>
    <p class="date">20th - 21st October, 2018, Met Office, Exeter, UK.</p>
    <br>
    <a href="#" class="btn btn-chunky btn-lg">REGISTRATION IS NOW CLOSED</a>
    <p>Contact us if you haven't received a confirmation email by noon on Monday 15th October</p>
    {% include social-links.html %}
    <a href="https://2018.spaceappschallenge.org/locations/exeter"  class="btn btn-lg btn-light">Full schedule is available on our official location page</a>
    <br/><br/>
    <a href="/challenges/" class="btn btn-lg btn-light">The Challenges (copied from official site)</a>
    <br/><br/>
    <a href="https://docs.google.com/document/d/1RAXP8zrJVUoVnOwgeQ1ft12RZROiuhViPeRTZkN_eBI/edit?usp=sharing" class="btn btn-lg btn-light">Frequently Asked Questions</a>
    
  </div>
</header>
