<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="/"  onclick = $("#menu-close").click(); >
        2016
      </a>
    </li>
    <li>
      <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2015"  onclick = $("#menu-close").click(); >
        2015
      </a>
    </li>
    <li>
      <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2014"  onclick = $("#menu-close").click(); >
        2014
      </a>
    </li>
    <li>
      <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2013"  onclick = $("#menu-close").click(); >
        2013
      </a>
    </li>
    <li>
      <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2012"  onclick = $("#menu-close").click(); >
        2012
      </a>
    </li>
  </ul>
</nav>
