<section id="past-events" class="past-events">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Past Space Apps Events</h2>
        <h4><small>Event pages from previous years</small></h4>
        <hr class="small">
        <div class="row">
          <div class="col-md-3">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2012" class="btn btn-chunky btn-lg">
                2012
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2013" class="btn btn-chunky btn-lg">
                2013
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2014" class="btn btn-chunky btn-lg">
                2014
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2015" class="btn btn-chunky btn-lg">
                2015
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</section>
