<section id="past-projects" class="past-projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Past Projects</h2>
        <h4><small>Projects which have receieved local awards at past Space Apps Exeter events</small></h4>
        <hr class="small">
        <div class="row">
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="#">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/pI67ZLg8I_E" frameborder="0" allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="#">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/YbZbDxacSwg" frameborder="0" allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="#">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/DpGVxWE5qlo" frameborder="0" allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="#">
                <iframe src="https://player.vimeo.com/video/125402211" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="#">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/PnRttvCWk6o" frameborder="0" allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="#">
                <iframe src="https://player.vimeo.com/video/92284115?color=900" width="100%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <div class="portfolio-item">
              <a href="#">
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/yBMmBVNmxPM" frameborder="0" allowfullscreen></iframe>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!--a href="#" class="btn btn-dark">View More Items</a-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
