<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Past Space Apps Events</h2>
        <h4><small>Event pages from previous years</small></h4>
        <hr class="small">
        <div class="row">
          <div class="col-md-3">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2012" class="btn btn-info btn-lg">
                2012
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2013" class="btn btn-info btn-lg">
                2013
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2014" class="btn btn-info btn-lg">
                2014
              </a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/conference/hackathons/space-apps-challenge/space-apps-2015" class="btn btn-info btn-lg">
                2015
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Past Projects</h2>
        <h4><small>Projects which have receieved local awards</small></h4>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <iframe width="100%" height="333" src="https://www.youtube.com/embed/DpGVxWE5qlo" frameborder="0" allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <iframe src="https://player.vimeo.com/video/125402211" width="100%" height="333" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <iframe width="100%" height="333" src="https://www.youtube.com/embed/PnRttvCWk6o" frameborder="0" allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <iframe src="https://player.vimeo.com/video/92284115?color=900" width="100%" height="333" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <iframe width="100%" height="333" src="https://www.youtube.com/embed/yBMmBVNmxPM" frameborder="0" allowfullscreen></iframe>
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!--a href="#" class="btn btn-dark">View More Items</a-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
