<section id="sponsors" class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">

        <h2>Sponsors</h2>
        <hr class="small">
        <div class="row">

          <div class="col-md-offset-2 col-md-4">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/" target="_new">
              <img src="/img/sponsor_metoffice.svg" alt="Met Office" />
            </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="https://techexeter.uk/" target="_new">
              <img src="/img/sponsor_tectexeter.png" alt="Tech Exeter" />
            </a>
            </div>
          </div>

        </div>

        <hr class="small">
        <div class="row">

          <div class="col-md-offset-4 col-md-4">
            <div class="portfolio-item">
              <a href="https://exeter.gov.uk/" target="_new">
              <img src="/img/sponsor_exetercitycouncil.svg" alt="Exeter City Council" />
            </a>
            </div>
          </div>

        </div>

        <h2>Supporters</h2>
        <hr class="small">
        <div class="row supporters">

          <div class="col-md-offset-4 col-md-2">
            <div class="portfolio-item">
              <a href="https://github.com/" target="_new">
              <img src="/img/supporter_github.png" alt="GitHub" />
            </a>
            </div>
          </div>

          <div class="col-md-2">
            <div class="portfolio-item">
              <a href="https://travis-ci.org/" target="_new">
              <img src="/img/supporter_travisci.png" alt="Travis CI" />
            </a>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <p class="text-muted">
              We are currently looking for sponsors for Space Apps Exeter 2017.<br />If you are interested in becoming a sponsor please <a href="mailto:ian.gentry@metoffice.gov.uk,jacob.tomlinson@metoffice.gov.uk">contact us</a> for more information.
            </p>
          </div>
        </div>

      </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</section>
