<section id="sponsors" class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Thanks to our 2016 sponsors</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-offset-2 col-md-4">
            <div class="portfolio-item">
              <a href="http://uk.rs-online.com/" target="_new">
                <img src="/img/sponsor_rs.svg" alt="RS Components" />
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="http://www.metoffice.gov.uk/" target="_new">
              <img src="/img/sponsor_metoffice.svg" alt="Met Office" />
            </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="http://www.exetersciencepark.co.uk/" target="_new">
              <img src="/img/sponsor_sci_park.svg" alt="Exeter Science Park" />
            </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="http://www.spaceforsuccess.co.uk/" target="_new">
              <img src="/img/sponsor_innovation.svg" alt="Innovation Centre Exeter" />
            </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio-item">
              <a href="http://www.setsquared.co.uk/start-support/innovation-centres/university-exeter-innovation-centre" target="_new">
              <img src="/img/sponsor_setsquared.svg" alt="SETSquared Partnership" />
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
</section>
